{% extends 'mobile.html.twig' %}

{% block title %}{% trans %}Delete Sentence{% endtrans %}{% endblock %}
{% block header_title %}{% trans %}Delete Sentence{% endtrans %}{% endblock %}
{% block header_detail %}{% trans %}in{% endtrans %} {{ document.title }}{% endblock %}
{% block header_class %}color-complement{% endblock %}

{% block header_footer %}
    <a href="{{ path('app_documentcrud_show', {pk: document.pk}) }}" class="pure-button">{% trans %}Go back{% endtrans %}</a>
{% endblock %}

{% block content %}
    <div class="{{ cssgrid }}">
        <article> 
            <div>
                <p>{% trans %}Are you sure you want to delete{% endtrans %} '{{ key }}' ?</p>
                {%  if inbound|length > 0  %}
                    <p>{% trans %}There are{% endtrans %} {{ inbound|length }} {% trans %}Sentence(s) that point to{% endtrans %} '{{ key }}' :</p>
                    <ul>
                        {% for sentence in inbound %}
                            <li>{{ sentence.key }}</li>
                            {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {{ form(form) }}     
        </article>
    </div>
{% endblock %}