{% extends 'mobile.html.twig' %}

{% block title %}Delete Sentence{% endblock %}
{% block header_title %}Delete a Sentence{% endblock %}
{% block header_detail %}in {{ document.title }}{% endblock %}
{% block header_class %}headline{% endblock %}

{% block header_footer %}
    <a href="{{ path('app_documentcrud_show', {title: document.title}) }}" class="pure-button">Retour au document</a>
{% endblock %}

{% block content %}
    <div class="{{ cssgrid }}">
        <article> 
            <div>
                <p>Are you sure you want to delete '{{ key }}' ?</p>
                {%  if inbound|length > 0  %}
                    <p>There are {{ inbound|length }} Sentence(s) that point to '{{ key }}' :</p>
                    <ul>
                        {% for sentence in inbound %}
                            <li>{{ sentence.key }}</li>
                            {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {{ form(form) }}     
        </article>
    </div>
{% endblock %}