{% extends 'mobile.html.twig' %}

{% block header_class %}color-secondary-1{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/autocomplete.css"/>
{% endblock %}

{% block header_footer %}
    <a href="{{ path('app_documentcrud_show', {pk: document.pk}) }}" class="pure-button">{% trans %}Go back{% endtrans %}</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/textcomplete.min.js"></script>
    <script>
        var Textarea = Textcomplete.editors.Textarea

        // Autocoomplete links
        var contentTxt = new Textarea(document.getElementById('sentence_content'));
        var contentTC = new Textcomplete(contentTxt);

        contentTC.register([{
                match: /(.*)\[\[([^\s]+)$/,
                search: function (term, callback) {
                    fetch('{{ path('app_sentencecrud_searchlinks', {pk: document.pk}) }}' + '/' + term)
                            .then((response) => {
                                return response.json();
                            })
                            .then((data) => {
                                callback(data);
                            });
                },
                replace: function (value) {
                    return '$1[[' + value + ']] ';
                }
            }]);

        // Autocomplete category
        var categoryTxt = new Textarea(document.getElementById('sentence_category'));
        var categoryTC = new Textcomplete(categoryTxt);

        categoryTC.register([{
                match: /(^)([^\s]+)$/,
                search: function (term, callback) {
                    fetch('{{ path('app_sentencecrud_searchcategories', {pk: document.pk}) }}' + '/' + term)
                            .then((response) => {
                                return response.json();
                            })
                            .then((data) => {
                                console.log(data);
                                callback(data);
                            });
                },
                replace: function (value) {
                    return value + ' ';
                }
            }]);
    </script>
{% endblock %}
