{%  extends "mobile.html.twig" %}

{% block title %}QR Code{% endblock %}
{% block header_title %}{{ vertex.key }}{% endblock %}
{% block header_detail %}{% endblock %}
{% block header_class %}color-secondary-2{% endblock %}

{% block header_footer %}
    <a href="{{ path('app_documentcrud_show', {pk: document.pk}) }}" class="pure-button">{% trans %}Go back{% endtrans %}</a>
{% endblock %}

{% block content %}
    <div class="{{ cssgrid }} qrcode">
        <article>
            <img id="qrious" class="pure-img"/>
        </article>
    </div>
    <div class="{{ cssgrid }}">
        <article>
            <h2>{{ vertex.key }}</h2>
            {{ vertex.content|raw|wiki(document)|striptags }}
        </article>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/qrious.min.js"></script>
    <script>
        var qr = window.qr = new QRious({
            element: document.getElementById('qrious'),
            size: Math.min(innerWidth, innerHeight),
            // the double quotes + space below are here for forcing some QR code reader to detect it's full UTF-8 and not JIS
            value: '{{ ('« ' ~ vertex.key ~ ' : ' ~ vertex.content|raw|wiki(document)|striptags ~ ' »')|e('js') }}'
        });
    </script>
{% endblock %}
