{% extends 'mobile.html.twig' %}

{% block title %}{% trans %}Listing{% endtrans %}{% endblock %}
{% block header_title %}{% trans %}Listing{% endtrans %}{% endblock %}
{% block header_detail %}{% endblock %}
{% block header_class %}color-secondary-2{% endblock %}

{% block header_footer %}
    <a href="{{ path('app_documentcrud_new') }}" class="pure-button">{% trans %}New document{% endtrans %}</a>
{% endblock %}

{% block item_article %}
    <div class="pure-g">
        <div class="pure-u-3-4">
            <h2>{{ item.title }}</h2>
            <div>
                {{ item.description }}
                <p>{{ item.vertex }} {% trans %}vertices{% endtrans %}</p>
            </div>
        </div>
        <div class="pure-u-1-4 big-link">
            <a href="{{ path('app_documentcrud_show',{pk: item.pk}) }}"><i class="icon-right-open"></i></a>
        </div>
    </div>
{% endblock %}