{% extends 'mobile.html.twig' %}

{% block title %}Listing{% endblock %}
{% block header_title %}Listing{% endblock %}
{% block header_detail %}{% endblock %}
{% block header_footer %}
    <a href="{{ path('app_documentcrud_new') }}" class="pure-button">New document</a>
{% endblock %}

{% block item_article %}
    <div class="pure-g">
        <div class="pure-u-4-5">
            <h2>{{ item.title }}</h2>
            <div>
                {{ item.description }}
                <p>{{ item.vertex }} vertices</p>
            </div>
            <footer>X</footer>
        </div>
        <div class="pure-u-1-5">
            <a href="{{ path('app_documentcrud_show',{title: item.title}) }}">&gt;</a>
        </div>
    </div>
{% endblock %}