{% extends 'mobile.html.twig' %}

{% block title %}{{ document.title }} - {{ document.description }}{% endblock %}
{% block header_class %}headline{% endblock %}
{% block header_title %}{{ document.title }}{% endblock %}
{% block header_detail %}{{ document.description }}{% endblock %}
{% block header_footer %}
    <a href="{{ path('app_sentencecrud_append', {title: document.title}) }}" class="pure-button">Append</a>
{% endblock %}

{% block item_article %}
    {% if loop.first %}<a id="pinned-vertex"></a>{% endif %}
    <div class="pure-g">
        <div class="pure-u-7-8">
            <h2>{{ item.key }} ({{ item.category }})</h2>
        </div>
        <div class="pure-u-1-8 pinned"><a href="{{ path('app_documentcrud_show',{title: document.title, key: item.key}) }}">^</a></div>
    </div>
    <div class="content">{{ item.content|wiki(document) }}
        {% if loop.first %}
            {% set inbound = document.findVertexByLink(item.key) %}
            {% if inbound|length > 0 %}
                <p>
                    See also : 
                    {% for link in inbound %}
                        {% apply wiki(document) %}[[{{ link.key }}]]{% endapply %}
                    {% endfor %}
                </p>
            {% endif %}
        {% endif %}
    </div>
    <footer class="pure-g">
        <div class="pure-u-1-2 left">
            <a href="{{ path('app_sentencecrud_edit', {key:item.key, title:document.title}) }}" class="pure-button">Edit</a>
        </div>
        <div class="pure-u-1-2 right">
            {% if loop.first %}
                <a href="{{ path('app_sentencecrud_delete', {key:item.key, title:document.title}) }}" class="pure-button warning">Delete</a>
            {% endif %}
        </div>
    </footer>
{% endblock %}