{% extends 'document/document.html.twig' %}

{% block header %}
    <div class="{{ cssgrid }} headline">
        <header>
            <h1>{{ document.title }}</h1>
            <div>{{ document.description }}</div>
            <footer>
                <a href="{{ path('app_sentencecrud_append', {title: document.title}) }}" class="pure-button">Append</a>
            </footer>
        </header> 
    </div>
{% endblock %}

{% block content %}
    {% for vertex in document %}
        <div class="{{ cssgrid }} {% if vertex.key == focus %}focus{% endif %}">
            <article>
                <a id="{{ document.title }}-{{ vertex.key }}"></a>
                <h2>{{ vertex.key }} ({{ vertex.category }})</h2>
                <div class="content">{{ vertex.content|wiki(document) }}
                    {% if vertex.key == focus %}
                        {% set inbound = document.findVertexByLink(vertex.key) %}
                        {% if inbound|length > 0 %}
                            <p>
                                See also : 
                                {% for link in inbound %}
                                    {% apply wiki(document) %}[[{{ link.key }}]]{% endapply %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
                <footer class="pure-g">
                    <div class="pure-u-1-2 left">
                        <a href="{{ path('app_sentencecrud_edit', {key:vertex.key, title:document.title}) }}" class="pure-button">Edit</a>
                    </div>
                    <div class="pure-u-1-2 right">
                        {% if vertex.key == focus %}
                            <a href="{{ path('app_sentencecrud_delete', {key:vertex.key, title:document.title}) }}" class="pure-button warning">Delete</a>
                        {% endif %}
                    </div>
                </footer>
            </article>
        </div>
    {% endfor %}
{% endblock %}